<article class="post-item" typeof="BlogPosting" resource="{{ [data.baseUrl, post.url] | join | url }}">
    <div class="post-meta">
        {% if post.data.date %}
        <time datetime="{{ post.data.date | isodate }}" property="datePublished">{{ post.data.date | localdate }}</time>
        {% endif %}
        {% for tag in post.data.tags %}
        {% if tag != "post" and tag != post.data.lang %}
        <span class="chip is-small" property="keywords">
            <a href="{{ [lang, 'tags', tag] | join('/') | url }}">{{ tag }}</a>
        </span>
        {% endif %}
        {% endfor %}
    </div>
    <h2 class="post-title" property="headline">
        <a href="{{ post.url | url }}" property="url">{{ post.data.title }}</a>
    </h2>
    {% if post.data.description %}
    <p class="post-excerpt" property="abstract">{{ post.data.description }}</p>
    {% endif %}
</article>
